### Extracción de tablas con Beautiful Soup (lvl. 1)

In [10]:
# Es necesario tener instalada la librería lxml
#!pip install xlml

import pandas as pd

A veces encontraremos tablas en páginas web de las que no nos permiten un enlace de descarga como tal. Vamos a ver un sencillo ejemplo práctico de cómo extraerlas

In [11]:
# Leemos la información de la página

tabla_poblacion = pd.read_html("https://www.worldometers.info/world-population/population-by-country/")

print(tabla_poblacion)

[       # Country (or dependency)  Population  (2023) Yearly  Change  \
0      1                   India          1428627663         0.81 %
1      2                   China          1425671352        -0.02 %
2      3           United States           339996563         0.50 %
3      4               Indonesia           277534122         0.74 %
4      5                Pakistan           240485658         1.98 %
..   ...                     ...                 ...            ...
229  230              Montserrat                4386        -0.09 %
230  231        Falkland Islands                3791         0.29 %
231  232                    Niue                1935         0.05 %
232  233                 Tokelau                1893         1.18 %
233  234                Holy See                 518         1.57 %

     Net  Change  Density  (P/Km²)  Land Area  (Km²)  Migrants  (net)  \
0       11454490               481           2973190          -486136
1        -215985               152           9388211          -310220
2        1706706                37           9147420           999700
3        2032783               153           1811570           -49997
4        4660796               312            770880          -165988
..           ...               ...               ...              ...
229           -4                44               100                0
230           11                 0             12170                0
231            1                 7               260                0
232           22               189                10                0
233            8              1295                 0                0

     Fert.  Rate  Med.  Age Urban  Pop % World  Share
0            2.0       28.0         36 %      17.76 %
1            1.2       39.0         65 %      17.72 %
2            1.7       38.0         83 %       4.23 %
3            2.1       30.0         59 %       3.45 %
4            3.3       21.0         35 %       2.99 %
..           ...        ...          ...          ...
229          1.6       44.0         11 %       0.00 %
230          1.6       40.0         62 %       0.00 %
231          2.4       36.0         41 %       0.00 %
232          2.6       27.0          0 %       0.00 %
233          NaN        NaN         N.A.       0.00 %

[234 rows x 12 columns]]

In [12]:
tabla_poblacion[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   #                        234 non-null    int64
 1   Country (or dependency)  234 non-null    object
 2   Population  (2023)       234 non-null    int64
 3   Yearly  Change           234 non-null    object
 4   Net  Change              234 non-null    int64
 5   Density  (P/Km²)         234 non-null    int64
 6   Land Area  (Km²)         234 non-null    int64
 7   Migrants  (net)          234 non-null    int64
 8   Fert.  Rate              233 non-null    float64
 9   Med.  Age                233 non-null    float64
 10  Urban  Pop %             234 non-null    object
 11  World  Share             234 non-null    object
dtypes: float64(2), int64(6), object(4)
memory usage: 22.1+ KB

In [13]:
tabla_poblacion[0].to_csv("data/poblacion-mundial_2020.csv", index = False)

In [14]:
# Ejemplo 2

tablas_ventas = pd.read_html("https://es.wikipedia.org/wiki/Anexo:%C3%81lbumes_musicales_m%C3%A1s_vendidos")

len(tablas_ventas)

6

In [15]:
tablas_ventas[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Año                22 non-null     int64
 1   Álbum              22 non-null     object
 2   Artista(s)         22 non-null     object
 3   Ventas (millones)  21 non-null     float64
 4   Ref(s)             22 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 1012.0+ bytes

In [16]:
tablas_ventas[1:] # estas 5 tablas tienen la información que nos interesa

[           Artista            País            Álbum  Año de lanzamiento  \
 0  Michael Jackson  Estados Unidos         Thriller                1982
 1            AC/DC       Australia    Back in Black                1980
 2        Meat Loaf  Estados Unidos  Bat Out of Hell                1977

                                    Ventas estimadas*
 0                       70 millones[nota 1]​[6]​[7]​
 1  50 millones[14]​[15]​[16]​[17]​[18]​ 40 millon...
 2                         50 millones[21]​[22]​[23]​  ,
                              Artista                   País  \
 0                         Pink Floyd            Reino Unido
 1  Whitney Houston / Varios artistas         Estados Unidos
 2                             Eagles         Estados Unidos
 3                      Fleetwood Mac            Reino Unido
 4         Bee Gees / Varios artistas  Reino Unido Australia
 5                Andrew Lloyd Webber            Reino Unido
 6                       Shania Twain                 Canadá

                              Álbum  Año de lanzamiento  \
 0        The Dark Side of the Moon                1973
 1                    The Bodyguard                1992
 2  Their Greatest Hits (1971-1975)                1976
 3                          Rumours                1977
 4             Saturday Night Fever                1977
 5          El fantasma de la ópera                1986
 6                     Come on Over                1997

                                    Ventas estimadas*
 0                         45 millones[24]​[25]​[26]​
 1  45 millones[10]​[11]​ 42 millones[27]​ 40 mill...
 2                              42 millones[12]​[13]​
 3                              40 millones[28]​[29]​
 4                    40 millones[30]​[31]​[32]​[27]​
 5                                   40 millones[33]​
 6             40 millones[34]​ 39 millones[35]​[36]​  ,
                                               Artista  \
 0   John Travolta y Olivia Newton-John Varios arti...
 1                                        Led Zeppelin
 2                                     Michael Jackson
 3                                          Pink Floyd
 4                                   Alanis Morissette
 5                                         The Beatles
 6                                              Eagles
 7                                     Varios artistas
 8                                     Michael Jackson
 9                                        Mariah Carey
 10                                        Céline Dion
 11                                              Adele
 12                                         Elton John
 13                                        Céline Dion
 14                                        The Beatles
 15                                        The Beatles
 16                                           Bee Gees
 17                                  Bruce Springsteen
 18                                       Dire Straits
 19                                      Guns N' Roses
 20                                            Madonna
 21                                          Metallica
 22                                            Nirvana
 23                                    Backstreet Boys
 24                                       James Horner
 25                                     Britney Spears
 26                                        Linkin Park
 27                                            Santana
 28                                    Backstreet Boys

                           País                                  Álbum  \
 0   Estados Unidos Reino Unido                                 Grease
 1                  Reino Unido                        Led Zeppelin IV
 2               Estados Unidos                                    Bad
 3                  Reino Unido                               The Wall
 4                       Canadá                     Jagged Little Pill
 5                  Reino Unido  Sgt. Pepper's Lonely Hearts Club Band
 6               Estados Unidos                       Hotel California
 7               Estados Unidos                          Dirty Dancing
 8               Estados Unidos                              Dangerous
 9               Estados Unidos                              Music Box
 10                      Canadá                       Falling into You
 11                 Reino Unido                                     21
 12                 Reino Unido              Goodbye Yellow Brick Road
 13                      Canadá                  Let's Talk About Love
 14                 Reino Unido                                      1
 15                 Reino Unido                             Abbey Road
 16                 Reino Unido                   Spirits Having Flown
 17              Estados Unidos                     Born in the U.S.A.
 18                 Reino Unido                       Brothers in Arms
 19              Estados Unidos               Appetite for Destruction
 20              Estados Unidos              The Immaculate Collection
 21              Estados Unidos                              Metallica
 22              Estados Unidos                              Nevermind
 23              Estados Unidos      Backstreet Boys / Backstreet Boys
 24              Estados Unidos                                Titanic
 25              Estados Unidos                  ...Baby One More Time
 26              Estados Unidos                          Hybrid Theory
 27      México  Estados Unidos                           Supernatural
 28              Estados Unidos                             Millennium

       Año de lanzamiento                                  Ventas estimadas*
 0                   1978                                   38 millones[37]​
 1                   1971             37 millones[38]​[39]​ 32 millones[40]​
 2                   1987                              35 millones[41]​[42]​
 3                   1979             33 millones[43]​ 30 millones[44]​[45]​
 4                   1995                         33 millones[46]​[47]​[48]​
 5                   1967                              32 millones[49]​[48]​
 6                   1976                              32 millones[50]​[51]​
 7                   1987                         32 millones[27]​[52]​[53]​
 8                   1991                    32 millones[54]​[55]​[56]​[57]​
 9                   1993  32 millones[58]​[59]​[60]​[61]​[62]​ 28 millon...
 10                  1996             32 millones[64]​ 30 millones[65]​[66]​
 11                  2011                                   31 millones[67]​
 12                  1973                         31 millones[68]​[69]​[70]​
 13                  1997             31 millones[71]​ 30 millones[72]​[66]​
 14                  2000                                   31 millones[73]​
 15                  1969                                   30 millones[74]​
 16                  1979                  30 millones[75]​ 20 millones[76]​
 17                  1984                              30 millones[77]​[78]​
 18                  1985                              30 millones[79]​[80]​
 19                  1987                  30 millones[81]​ 28 millones[82]​
 20                  1990                    30 millones[83]​[84]​[85]​[86]​
 21                  1991             30 millones[87]​[88]​ 28 millones[89]​
 22                  1991        30 millones[90]​ 26 millones[91]​[92]​[93]​
 23  1996 / 1997[nota 2]​                                   30 millones[96]​
 24                  1997                              30 millones[97]​[27]​
 25                  1999                              30 millones[98]​[99]​
 26                  2000                            30 millones[100]​[101]​
 27                  1999                30 millones[102]​ 27 millones[103]​
 28                  1999          30 millones[104]​[105]​ 24 millones[106]​  ,
                      Artista            País  \
 0                   Bon Jovi  Estados Unidos
 1                       ABBA          Suecia
 2                Spice Girls     Reino Unido
 3            Backstreet Boys  Estados Unidos
 4                Norah Jones  Estados Unidos
 5               Eric Clapton     Reino Unido
 6             Iron Butterfly  Estados Unidos
 7          Simon & Garfunkel  Estados Unidos
 8                Carole King  Estados Unidos
 9                      Queen     Reino Unido
 10  Bob Marley & The Wailers         Jamaica
 11                   Madonna  Estados Unidos
 12           Whitney Houston  Estados Unidos
 13                   Madonna  Estados Unidos
 14                        U2         Irlanda
 15           Whitney Houston  Estados Unidos
 16              Mariah Carey  Estados Unidos
 17           Backstreet Boys  Estados Unidos
 18               Ace of Base          Suecia
 19                       TLC  Estados Unidos
 20                     Oasis     Reino Unido
 21              Ricky Martin     Puerto Rico
 22                     Adele     Reino Unido
 23                  Bon Jovi  Estados Unidos
 24                      Dido     Reino Unido
 25                    Eminem  Estados Unidos
 26                    Boston  Estados Unidos
 27                   Blondie  Estados Unidos
 28                Supertramp     Reino Unido
 29           Michael Jackson  Estados Unidos
 30          Barbra Streisand  Estados Unidos
 31             Lionel Richie  Estados Unidos
 32               Tina Turner  Estados Unidos
 33   Prince & The Revolution  Estados Unidos
 34              Phil Collins     Reino Unido
 35               Def Leppard     Reino Unido
 36            George Michael     Reino Unido
 37           Billy Ray Cyrus  Estados Unidos
 38             Janet Jackson  Estados Unidos
 39               Céline Dion          Canadá
 40                 Green Day  Estados Unidos
 41              Shania Twain          Canadá
 42           Michael Jackson  Estados Unidos
 43                     Queen     Reino Unido
 44            Andrea Bocelli          Italia
 45               Spice Girls     Reino Unido
 46                   Madonna  Estados Unidos
 47                      Cher  Estados Unidos
 48            Britney Spears  Estados Unidos
 49                     Usher  Estados Unidos

                                         Álbum  Año de lanzamiento  \
 0                           Slippery When Wet                1986
 1                    ABBA Gold: Greatest Hits                1992
 2                                       Spice                1996
 3                           Backstreet's Back                1997
 4                           Come Away with Me                2002
 5                                   Unplugged                1992
 6                          In-A-Gadda-Da-Vida                1968
 7                  Bridge Over Troubled Water                1970
 8                                    Tapestry                1971
 9                               Greatest Hits                1981
 10                                     Legend                1984
 11                              Like a Virgin                1984
 12                            Whitney Houston                1985
 13                                  True Blue                1986
 14                            The Joshua Tree                1987
 15                                    Whitney                1987
 16                                   Daydream                1995
 17                               Black & Blue                2000
 18                               Happy Nation                1993
 19                              CrazySexyCool                1994
 20          (What's the Story) Morning Glory?                1995
 21                               Ricky Martin                1999
 22                                         25                2015
 23                                 Cross Road                1994
 24                                   No Angel                1999
 25                    The Marshall Mathers LP                2000
 26                                     Boston                1976
 27                             Parallel Lines                1978
 28                       Breakfast in America                1979
 29                               Off the Wall                1979
 30                                     Guilty                1980
 31                            Can't Slow Down                1983
 32                             Private Dancer                1984
 33                                Purple Rain                1984
 34                         No Jacket Required                1985
 35                                   Hysteria                1987
 36                                      Faith                1987
 37                              Some Gave All                1992
 38                                     janet.                1993
 39                      The Colour of My Love                1993
 40                                     Dookie                1994
 41                            The Woman in Me                1995
 42  HIStory: Past, Present and Future, Book I                1995
 43                             Made in Heaven                1995
 44                                    Romanza                1997
 45                                 Spiceworld                1997
 46                               Ray of Light                1998
 47                                    Believe                1998
 48                    Oops!... I Did It Again                2000
 49                                Confessions                2004

                             Ventas estimadas*
 0                     28 millones[107]​[108]​
 1         28 millones[109]​ 25 millones[110]​
 2   28 millones[111]​[112]​ 24 millones[113]​
 3         28 millones[114]​ 24 millones[106]​
 4         26 millones[115]​ 25 millones[116]​
 5                           26 millones[117]​
 6                     25 millones[118]​[119]​
 7                     25 millones[120]​[121]​
 8                           25 millones[122]​
 9                     25 millones[123]​[124]​
 10  25 millones[125]​ 20 millones[126]​[127]​
 11              25 millones[128]​[129]​[130]​
 12                          25 millones[131]​
 13              25 millones[132]​[133]​[134]​
 14                    25 millones[135]​[136]​
 15                          25 millones[137]​
 16                           25 millones[63]​
 17                          24 millones[114]​
 18                          23 millones[138]​
 19        23 millones[139]​ 22 millones[140]​
 20                    22 millones[141]​[142]​
 21                    22 millones[143]​[144]​
 22                          22 millones[145]​
 23      21 millones[146]​ 21,5 millones[147]​
 24                    21 millones[148]​[149]​
 25                          21 millones[150]​
 26                    20 millones[151]​[152]​
 27                          20 millones[153]​
 28                    20 millones[154]​[155]​
 29               20 millones[156]​[157]​[57]​
 30                          20 millones[158]​
 31                    20 millones[159]​[160]​
 32                    20 millones[161]​[162]​
 33                     20 millones[27]​[163]​
 34                          20 millones[164]​
 35                    20 millones[165]​[166]​
 36                    20 millones[167]​[168]​
 37                          20 millones[169]​
 38                    20 millones[170]​[171]​
 39                          20 millones[172]​
 40                          20 millones[173]​
 41                          20 millones[174]​
 42                           20 millones[57]​
 43                          20 millones[175]​
 44                    20 millones[176]​[177]​
 45                          20 millones[178]​
 46   20 millones[179]​[86]​[180]​[181]​[182]​
 47                          20 millones[183]​
 48              20 millones[184]​[185]​[186]​
 49                    20 millones[187]​[188]​  ,
      Año                                      Álbum  \
 0   2001                              Hybrid Theory
 1   2002                            The Eminem Show
 2   2003                          Come Away with Me
 3   2004                                Confessions
 4   2005                                        X&Y
 5   2006                        High School Musical
 6   2007                      High School Musical 2
 7   2008  Viva la Vida or Death and All His Friends
 8   2009                          I Dreamed a Dream
 9   2010                                   Recovery
 10  2011                                         21
 11  2012                                         21
 12  2013                          Midnight Memories
 13  2014                                     Frozen
 14  2015                                         25
 15  2016                                   Lemonade
 16  2017                                          ÷
 17  2018                       The Greatest Showman
 18  2019              5x20 All the Best!! 1999–2019
 19  2020                         Map of the Soul: 7
 20  2021                                         30
 21  2022                           Un verano sin ti

                        Artista(s)  Ventas (millones)  Ref(s)
 0                     Linkin Park               9.00  [190]​
 1                          Eminem              13.90  [191]​
 2                     Norah Jones              11.00  [192]​
 3                           Usher              12.00  [193]​
 4                        Coldplay               8.30  [194]​
 5                 Artistas varios               7.00  [195]​
 6                 Artistas varios               6.00  [196]​
 7                        Coldplay               6.80  [197]​
 8                     Susan Boyle               8.30  [198]​
 9                          Eminem               5.70  [199]​
 10                          Adele              18.10  [191]​
 11                          Adele               8.30  [200]​
 12                  One Direction               4.00  [201]​
 13                Artistas varios              10.00  [202]​
 14                          Adele              17.40  [203]​
 15                        Beyoncé               2.50  [204]​
 16                     Ed Sheeran               6.10  [205]​
 17  Hugh Jackman & artitas varios               3.50  [206]​
 18                         Arashi               3.30  [207]​
 19                            BTS               4.80  [208]​
 20                          Adele               4.68  [209]​
 21                      Bad Bunny                NaN  [210]​  ]

In [17]:
numero_tabla = 1
for tabla in tablas_ventas[1:]:
    tabla.to_csv(f"data/ventas_tabla-{numero_tabla}.csv", index=False)
    numero_tabla += 1